In [4]:
import logging
import numpy as np
import pandas as pd
from sklearn.datasets import make_classification
from sklearn.tree import DecisionTreeClassifier
from sklearn.pipeline import make_pipeline
from bolt4ds.monitor import DataMonitorTransformer

In [2]:
SIZE = 100
df1 = pd.DataFrame({
    # categorical
    'feature1': np.random.randint(0, 5, size=SIZE),
    'feature2': np.random.randint(0, 5, size=SIZE),
    'feature3': np.random.randint(0, 5, size=SIZE),
    # numeric
    'feature4': np.random.uniform(0, 100, size=SIZE),
    'feature5': np.random.uniform(50, 100, size=SIZE),
    'response': np.random.randint(1, size=SIZE)
})
df2 = pd.DataFrame({
    # categorical
    'feature1': np.random.randint(0, 7, size=SIZE),  # extra values
    'feature2': np.random.randint(0, 5, size=SIZE),
    'feature3': np.random.randint(-1, 5, size=SIZE), # extra values
    # numeric
    'feature4': np.random.uniform(-10, 120, size=SIZE), # violate max/min
    'feature5': np.random.uniform(50, 110, size=SIZE),  # violate max
})
df1['feature1'] = df1.feature1.astype(str)
df2['feature1'] = df2.feature1.astype(str)
df1['feature2'] = df1.feature2.astype(str)
df2['feature2'] = df2.feature2.astype(str)
df1['feature3'] = df1.feature3.astype(str)
df2['feature3'] = df2.feature3.astype(str)

In [6]:
logging.basicConfig()
features = [c for c in df1.columns if c.startswith('feature')]
response = 'response'
feijiandu = DataMonitorTransformer()
feijiandu.fit(df1[features])

In [7]:
feijiandu.transform(df2[features])

WARNING:bolt4ds.monitor.monitoring:found 15 runtime value(s) for feature "feature4" greater than trained max.
WARNING:bolt4ds.monitor.monitoring:found 13 runtime value(s) for feature "feature5" greater than trained max.
WARNING:bolt4ds.monitor.monitoring:found 7 runtime value(s) for feature "feature4" less than trained min.
WARNING:bolt4ds.monitor.monitoring:found 2 runtime value(s) for feature "feature5" less than trained min.
WARNING:bolt4ds.monitor.monitoring:found 29 categorical runtime value(s) for feature "feature1" not in training data: ['6', '5'].
WARNING:bolt4ds.monitor.monitoring:found 18 categorical runtime value(s) for feature "feature3" not in training data: ['-1'].

   feature1 feature2 feature3    feature4    feature5
0         6        2        0   64.338252   53.365312
1         1        4        4   95.396851  107.651474
2         0        1        4   39.306023   83.530986
3         2        2       -1   59.596306   69.485109
4         3        4        0  109.896554  108.957818
..      ...      ...      ...         ...         ...
95        4        4        0   73.133312   66.083534
96        5        2        0  118.149347   54.577331
97        6        2        1   39.724767   90.955421
98        5        0       -1   17.213873   99.400058
99        6        4        4   12.827248   92.863098

[100 rows x 5 columns]

In [8]:
feijiandu.data_monitor.schema

{'numeric': {'maxes': feature4    98.515678
  feature5    99.713344
  dtype: float64, 'mins': feature4     1.058583
  feature5    50.569449
  dtype: float64},
 'categoricals': {'feature1': array(['0', '2', '4', '3', '1'], dtype=object),
  'feature2': array(['1', '2', '4', '3', '0'], dtype=object),
  'feature3': array(['4', '2', '3', '0', '1'], dtype=object)}}